# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
myenvironment/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models
models/*.h5
models/*.keras
models/*.onnx
models/*.pb
models/checkpoints/

# Logs & tracking
wandb/
logs/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.log
